{
  "importOrder": ["^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "jsonRecursiveSort": true,
  "overrides": [
    {
      "files": ["src/**/*.sol", "test/**/*.sol", "script/**/*.sol"],
      "options": {
        "printWidth": 120
      }
    }
  ],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-sort-json",
    "prettier-plugin-solidity"
  ],
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
